.piechart {
  height: 280px;
  width: 280px;
  margin-left: 30px;
  background-color: white;
  margin-top: 25px;
  border-radius: 10px;
  cursor: pointer;
}

.PieDiv {
  margin-right: 30px;
  height: 100;
  width: 100px;
  border: 0px;
}

.pieheading {
  font-size: 17px;
  margin-top: 20px;
  margin-left: 17px;
}

.pieHeadtow {
  font-size: 13px;
  margin-left: 20px;
  font-weight: 500;
  color: gray;
}
