.rightbar {
  flex: 6;
  height: 100vh;
  background-color: rgb(248, 245, 245);
}

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 38px;
}

.searchbar {
  height: 25px;
  display: flex;
  margin-right: 40px;
  align-items: center;
  border-radius: 5px;
  background-color: white;
}

.searchIcon {
  width: 15px;
  height: 15px;
  margin-right: 3px;
  margin-left: 2px;
}

.searchname {
  font-size: 12px;
  border: none;
}

.searchname:focus {
  outline: none;
}
